<div class="main-content ml-admin">
    <div class="card mt-4 mb-4">
       

        <div class="row">
            <div class="col-12">
                <div class="row justify-content-between align-items-center">
                <div class="col-auto  d-flex align-items-center "> <h4 class="theme-color text-uppercase fw-bold fs-20 mb-0 align-items-center  ">EDIT PROFILE</h4></div>
                <div class="col-auto">
                   
                    
          
                </div>
            </div>
               <div class="col-12 divider"></div>
            </div>

            <div class="col-12 custom-form mt-3">
                <form>
                  <div class="row flex-column-reverse flex-md-row">
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Name</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="mb-3 col-md-6">
                          <label class="form-label">Employee ID</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label  class="form-label">EMAIL</label>
                            <input type="text" class="form-control">
                          </div>
    
                          <div class="mb-3 col-md-6">
                            <label class="form-label">PHONE NUMBER</label>
                            <input type="text" class="form-control">
                          </div>
    
    
                          <div class="mb-3 col-md-6">
                            <label  class="form-label">GENDER</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="col-md-12">
                            <hr class="line">
                          </div>
                          <div class="mb-3 col-lg-12 d-flex align-items-center ">
                      
                            <span class="mr-3 fw-bold theme-color">SECURITY</span>
                            <button type="submit" class="btn btn-line mr-3 btn-min-width d-flex justify-content-center"><i><img src="/assets/password1.png" alt="password"></i>CHANGE PASSWORD</button>
                            <button type="submit" class="text-uppercase btn btn-info btn-min-width text-uppercase">SAVE CHANGES</button>
                          </div>
                        
                    </div>
                    </div>
                    <div class="col-md-4">
                      <div class="profileMedia mb-4">
                      <div class="profileImage"><img src="/assets/placeholder.png" class="w-100" alt="img"></div>
                      <button class="btn btn-info w-100 d-flex align-items-center  justify-content-center mt-3">change Photo</button>
                    </div>
                    </div>
                  </div>
                  
                  </form>
            </div>

           
        
        </div>
    </div>
</div>