<div class="main-content ml-admin">
  <div class="card mt-4 mb-4">
     

      <div class="row">
          <div class="col-12">
              <div class="row justify-content-between align-items-center">
              <div class="col-auto  d-flex align-items-center "> <h4 class="theme-color text-uppercase fw-bold fs-20 mb-0 align-items-center  ">Companies</h4></div>
              <div class="col-auto">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1">Activated</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                      <label class="form-check-label" for="inlineCheckbox2">Deactivated</label>
                    </div>
                    <button class="btn btn-success" [routerLink]="'/addcompany'">ADD NEW +</button>
              </div>
          </div>
             <div class="col-12 divider"></div>
          </div>
          
          <div class="col-12 ag-grid-height">
            <!-- Button to clear selection -->
            <ag-grid-angular
              style="width: 100%;height: 100%;"
              class="ag-theme-alpine"
              [rowData]="rowData"
              [pagination]="true"
              [paginationPageSize]="paginationPageSize"
              [columnDefs]="columnDefs">
          </ag-grid-angular>
           
          </div>
          <div class="col-12 d-flex justify-content-between mt-2 align-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <div aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link active" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </div>
            </div>
           
              <button class="text-uppercase btn btn-info"><i><svg id="export-svgrepo-com" xmlns="http://www.w3.org/2000/svg" width="20"  viewBox="0 0 25.992 29.085">
                  <g id="Group_998" data-name="Group 998">
                    <path id="Path_1116" data-name="Path 1116" d="M39.605,20.336a.729.729,0,0,0,.772-.095l11.468-9.5a.725.725,0,0,0,.261-.558.7.7,0,0,0-.267-.558L40.377.167A.726.726,0,0,0,39.19.731V5.7C26.042,6.174,26.1,16.145,26.119,20.977v.576a.718.718,0,0,0,.54.7.653.653,0,0,0,.184.024.74.74,0,0,0,.635-.368c3.882-6.838,7.075-7.17,11.711-7.188v4.956A.734.734,0,0,0,39.605,20.336Zm-12.02-1.347a15.237,15.237,0,0,1,1.5-6.743C30.91,8.862,34.453,7.189,39.92,7.135a.726.726,0,0,0,.718-.724V2.268l9.6,7.918-9.592,7.942V13.991a.738.738,0,0,0-.214-.516.727.727,0,0,0-.516-.214C34.827,13.267,31.319,13.569,27.586,18.988Z" transform="translate(-26.114 0)" fill="#fff"/>
                    <path id="Path_1117" data-name="Path 1117" d="M51.9,253.654V240.239a.73.73,0,0,0-1.46,0v12.684H27.515v-2.469a.73.73,0,1,0-1.46,0v3.193a.73.73,0,0,0,.73.73H51.174A.728.728,0,0,0,51.9,253.654Z" transform="translate(-26.055 -225.293)" fill="#fff"/>
                  </g>
                </svg>
                </i> Export CSV</button>
          </div>
      </div>
  </div>
</div>