<div class="container-fluid bg-primary full-div login">
    <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-7 col-11 mx-auto max-w-login">
        <div class="row">
            <div class="col text-center">
                <img src="assets/login.svg" alt="logo" class="logo-login mb-3">
                <h2 class="text-white">Hi!<br/>Reset Your Password</h2>
                <p class="text-white mb-4">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore eit dolore magna aliqua</p>
            </div>
        </div>


        <form class="row">
            <div class="mb-3 col-12">
                <input type="text" class="form-control" placeholder="Enter your email">
            </div>


            <div class="mb-3 col-12 ">
                <button class="btn btn-primary col-12 d-flex justify-content-between loginBtn ">SEND INSTRUCTIONS<span><img src="assets/right-arrow.svg" alt=""></span></button>
            </div>
        </form>
    </div>
</div>